<!doctype html>
<html lang="en">
<head>
    <title>{{project.titulo}}</title>
    <meta name="description" content="{{project.preview}}" />

    <meta property="og:title" content="{{project.name}}" />
  	<meta property="og:type" content="article" />
  	<meta property="og:url" content="https://{{site.url}}/post/{{project.slug}}" />
  	<meta property="og:image" content="{{{project.image}}}=s260-c" />
  	<meta property="og:image:width" content="260px" />
  	<meta property="og:image:height" content="260px" />
  	<meta property="og:description" content="{{project.preview}}" />
    {{>head}}
</head>

<body>

<section class="bg-white">
    <div class="container-fluid p-1">
    <div class="row">
    <div class="col-12 col-sm-12 col-lg-6">
    <img class= "cuadro" src = "{{{project.image}}}"/>
    </div>
    <div class="col-12 col-sm-12 col-lg-6">
    <br>
    <h1 class="display-4 text-center">{{project.name}}</h1>
    <br>
    <hr style = "width:80%">
    <br>
    <p class = "lead">{{{project.description}}}</p>
    <br>
    <br>
    <hr style = "width:80%">
    <br>
    <h2 class="lead text-center"><strong >Si te interesa esta obra o un trabajo personazliado contactame a candelacussa@gmail.com</strong></h2>
    <br>
    </div>   
    </div>
</section>
<footer class="pt-3">
    <div class="container pt-3 pb-3">
        <div class="row">
            <div class="col-12 col-sm-5 col-lg-6">  
            <p class = "lead" style="color:orange;">Nucifera Art</strong>&nbsp;| Candelacussa@gmail.com<p>
             <a class='fa fa-instagram' href="{{{page.social.instagram}}}" target='_blank' style='text-decoration:none;font-size:25px;color:honeydew;'>&nbsp;&nbsp;</a>
            <a class='fa fa-cloud' href="{{{page.social.shop}}}" target='_blank' style='text-decoration:none;font-size:25px;color:honeydew;'></a>
            <br>
            <small>Desarrollado por Ludovico Sposaro | Todos los derechos reservados</small>
            </div>
            <div class="col-12 col-sm-5 col-lg-6 my-auto text-center">
                <span class="align-middle">
                <a href = "/#hero" style = "color: orange;text-decoration:none;font-weight:bold;" >Inicio</a>
                <strong>|</strong>
                <a href = "/#about" style = "color: orange;text-decoration:none;font-weight:bold;" >Sobre mi</a>
                <strong>|</strong>
                <a href = "/#shop" style = "color: orange;text-decoration:none;font-weight:bold;" >Productos</a>
                <strong>|</strong>
                <a href = "/#gallery" style = "color: orange;text-decoration:none;font-weight:bold;" >Galería</a>
                </span>
             </div>   
        </div>
    </div>
</footer>
        {{>scripts}}
</body>
</html>
